@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600;700&family=Inter:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #edebe1;
  font-family: "Inter", sans-serif;
  color: #101915;
}

button {
  font-family: inherit;
}

input,
select {
  font-family: "Inter", sans-serif;
}
